html
	head
		include navBar.pug
		title all messages #{title}
		script(src="https://code.jquery.com/jquery-3.2.1.min.js"
				integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
				crossorigin="anonymous")
		style
			include allMessages.css

	body
		form(class="formTable")
			div(class="completeTable")
				div(class="headRow")
					div(class="divCellHeader")
						p Message id
					div(class="divCellHeader")
						p Title
					div(class="divCellHeader")
						p Body
					div(class="divCellHeader")
						p User ID
					div(class="commentClass", type="hidden")

				- for (var i=0; i < data[0].rows.length; i++)
					div(class="divRow")
						div(class="divCell") #{data[0].rows[i].message_id}
						div(class="divCell") #{data[0].rows[i].title}
						div(class="divCell") #{data[0].rows[i].body}
						div(class="divCell") #{data[0].rows[i].user_id}
						div(class="divComment")
							input(class="inputBodyComment", type="text", name="bodyComment", value="body of your comment", autocomplete="off")
							input.inputHiddenMessageId(type="hidden", name="hiddenMessageId", value= `${data[0].rows[i].message_id}`)
							input.inputHiddenUserId(type="hidden", name="hiddenUserId", value=`${data[0].rows[i].user_id}`)
							input.inputSubmitComment(type="submit", postid=`${data[0].rows[i].message_id}`, name="submit", value="Add Comment", autocomplete="off")
							div(class="divShowCommentButton")
								input(type= "button" class="showCommentButton", value="Show Comments", postid=`${data[0].rows[i].message_id}`)
								div(class="divHideComments")
									div(class="divStylingP")
										p(class="pStyle") Username
										p(class="pStyle") Body
									- for(var j = 0; j < comments[0].rows.length; j++)
										if (`${comments[0].rows[j].message_id}` == `${data[0].rows[i].message_id}`)
											div(class="commentClass")
												div(class="divCellComment") #{comments[0].rows[j].commentuser}
												div(class="divCellComment") #{comments[0].rows[j].body}
												


				
		script.
			$(document).ready(function() {
				$(".divHideComments").hide()
							$(".showCommentButton").click(function () {
								if ($(this).val() === 'Show Comments') {
									var showComments = $(this).closest(".divShowCommentButton").find(".divHideComments").toggle()
									$(this).val('Hide Comments')
								}

								else if ($(this).val() === 'Hide Comments') {
									var showComments = $(this).closest(".divShowCommentButton").find(".divHideComments").toggle()
									$(this).val('Show Comments')
								}	
							})
								$(".inputSubmitComment").click(function() {
									var postId = $(this).attr('postid')
									var theBody = $(this).closest(".divComment").find(".inputBodyComment").val()
									console.log(theBody)
									console.log(postId)
										$.ajax({
											url: "/addComment",
											method: "POST",
											data: {postId: postId, theBody: theBody},
											success: function (data) {
												for (var i = 0; i<data.length; i++){
												$(".commentClass").append('<div class="divCellComment">'+data[i].body+'</div>')
												}
											},
											failure: function (result){
											console.log(result)
											}
										})
									})
								})